<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
        <script crossorigin="anonymous" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" src="https://code.jquery.com/jquery-3.2.1.js">
        </script>
        <!-- Latest compiled and minified JavaScript -->
        <script crossorigin="anonymous" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron" style="text-align: center">
            <h1>Belly Button Biodiversity Dashboard</h1>
            <p>Use the interactive dashboard below to explore dataset</p>
        </div>

        <div class="row " style="text-align: center">
            <div class="col-md-12 div_box">
                <div class="col-md-3">
                    <div class="form-group boxh">
                        <label for="sel1">SelectSample</label>
                        <select class="form-control" id="selDataset" onchange="optionChanged(this.value)">
                            {% for options in sample_drop %}
                            
                            <option value="{{ options}}">{{ options }}</option>

                            {% endfor %}
                        </select>
                    </div>
                    <div class="panel panel-primary">
                            <div class="panel-heading">Sample Metadata</div>
                            <div class="panel-body" id="meta" style="text-align: left"></div>
                    </div>
                                      
                </div>
                <div class="col-md-8">
                    <div class ="col-md-7" id="pie"></div>
                    <div class ="col-md-5" id="wash"></div>    
                </div>
   
            </div>
        </div>            
                    
        <div id="bubble" class="col-md-12 charts "></div>
              
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="app.py"></script>
    <script src="plotting.js"></script>
</body>
</html>